html, body {
	width:  100%; /* needed for resize functions */
	height: 100%; /* needed for resize functions */
	margin: 0px; /* needed for resize functions */
	background: #000;
	color: #FFF;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#starBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}

#marsBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

#content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 90;

	padding: 15px 20px;
}

#sfLogo {
	width: 205px;
	height: 46px;
	position: absolute;
	right: 20px;
	top: 8px;
	z-index: 200;
}

#roverCamWindow {
	position: absolute;
	width: 650px; /* js calculate to screen: 10px [borders] + (ratio * 640px) */
	height: 512px; /* js calculate to screen: 32px [header+borders] + (ratio * 480px) */
	top: 60px;
	left: 20px;
	z-index: 100;
	display: block;
}

#roverCam {
	width: 100%;
	height: 100%;
}

#mapWindow {
	position: absolute;
	width: 551px; /* js calculate to screen: 10px [borders] + (ratio * 28 ft[?]) */
	height: 512px; /* js calculate to screen: 32px [header+borders] + (ratio * 26 ft[?]); */
	top: 60px;
	left: 690px; /* adjust placement based on screen width/height */
	z-index: 100;
	display: block;
}

#signalWindow {
	position: absolute;
	width: 150px; /* narrow leftovers? */
	height: 512px; /* match others */
	top: 60px;
	left: 1261px;
	z-index: 100;
	display: block;
}

#controlWindow {
	position: absolute;
	width: 500px; /* js calculate to screen: 10px [borders] + (ratio * 640px) */
	height: 240px; /* js calculate to screen: 32px [header+borders] + (ratio * 480px) */
	top: 616px;
	left: 20px;
	z-index: 100;
	display: block;
}

#orientationWindow {
	position: absolute;
	width: 220px; /* js calculate to screen: 10px [borders] + (ratio * 640px) */
	height: 240px; /* js calculate to screen: 32px [header+borders] + (ratio * 480px) */
	top: 616px;
	left: 540px;
	z-index: 100;
	display: block;
}

#logWindow {
	position: absolute;
	width: 600px; /* js calculate to screen: 10px [borders] + (ratio * 640px) */
	height: 240px; /* js calculate to screen: 32px [header+borders] + (ratio * 480px) */
	top: 616px;
	left: 780px;
	z-index: 100;
	display: block;
}

#logs {
	overflow-y: auto;
	line-height: 1.5em;
	width: 100%;
	height: 100%;
}

#logs .green {
	display: inline-block;
	padding: 0 5px;
	background-color: #008609;
}

#logs .blue {
	display: inline-block;
	padding: 0 5px;
	background-color: #004986;
}

#logs .red {
	display: inline-block;
	padding: 0 5px;
	background-color: #860000;
}

.windowContentInner {
	background: rgba(0, 24, 48, 0.4);
	padding: 5px;
	width: 100%;
	height: 100%;
}

h1 {
	color: #6ce3ff;
	/*text-shadow: 0em 0em 0.3em #4cc7eb, 0em 0em 0.1em #4cc7eb;*/
	font-family: 'Share Tech', sans-serif;
	font-size: 30px;
	margin: 0;
}

.window {
	/*border: #ec8837 solid 1px;*/
}

.windowContent {
	border: #ec8837 solid 1px;
	width: 100%;
	height: 100%;
}

.window h2 {
	margin: 0;
	padding: 2px 5px;
	line-height: 1em;
	font-weight: normal;
	font-family: 'Share Tech', sans-serif;
	font-size: 18px;
	border-left: #ec8837 solid 4px;
	color: #ec8837;
	/* text-shadow: 0em 0em 0.1em #ec8837, 0em 0em 0.1em #ec8837; */
}
